<main>
    <!--search box-->
    <div class="search">
        <div class="input-container">
            <input [class.filled]="state.query.term" #searchInput type="text" [(ngModel)]="state.query.term" (ngModelChange)="onQueryChange()"
                   (keyup.enter)="search(state.query.term)" (keyup.esc)="cancelSearch()">
            <label>Find your music here</label>
            <span class="clear fa fa-times-circle-o" *ngIf="state.query.term" (click)="clear()"></span>
            <span class="clear fa fa-times-circle-o" *ngIf="state.query.term" (click)="clear()"></span>
        </div>
        <div class="suggestions" *ngIf="showSuggestions">
            <div class="suggestion" *ngFor="let e of suggestions" (click)="search(e)">{{e}}</div>
        </div>
        <div class="checkbox">
            <input id="check-sc" type="checkbox" [(ngModel)]="state.query.sc" />
            <label for="check-sc"><span>SoundCloud</span></label>
        </div>
        <div class="checkbox">
            <input id="check-yt" type="checkbox" [(ngModel)]="state.query.yt" />
            <label for="check-yt"><span>YouTube</span></label>
        </div>
    </div>

    <!--track list-->
    <div #trackList class="track-list" (scroll)="onScroll($event)">
        <div class="track" [title]="track.title" [class.playing]="track.playing" [class.error]="track.error" *ngFor="let track of state.tracks" (click)="play(track)">
            <div class="artwork">
                <img [src]="track.artwork_url || 'https://i1.sndcdn.com/artworks-000073554908-d2qdlh-large.jpg'">
            </div>
            <div class="title">{{track.title}}</div>
            <div class="duration">{{track.durationInMinutes}}</div>
        </div>
        <div class="loading" *ngIf="isLoadingMoreTracks">
            <span class="fa fa-spinner fa-pulse"></span>
            <span>Slow down, motherfucker...</span>
        </div>

        <!--recent searches-->
        <div class="recent-search" *ngIf="!searching && !state.tracks?.length">
            <span class="message">I could not find anything for your stupid query!</span>
        </div>
    </div>
    <!--tracklist overlay-->
    <div class="track-list-overlay" *ngIf="searching">
        <div class="loading">
            <span class="fa fa-spinner fa-pulse"></span>
        </div>
    </div>

    <!--the player-->
    <div class="player-wrapper" [class.show]="state.currentTrack">
        <div class="player">
            <div class="title">
                <div class="dancing" [title]="state.currentTrack?.title">{{state.currentTrack?.title}}</div>
            </div>
            <div class="controls">
                <span class="fa fa-step-backward" (click)="player.previous()"></span>
                <span class="fa fa-play" *ngIf="!player.playing" (click)="player.resume()"></span>
                <span class="fa fa-pause" *ngIf="player.playing" (click)="player.pause()"></span>
                <span class="fa fa-step-forward" (click)="player.next()"></span>
            </div>
            <progress #progress class="progress" (click)="onProgressClick($event)"></progress>
            <div class="volume">
                <input type="range" min="0" max="1" step="0.01" [(ngModel)]="state.volume" (ngModelChange)="player.setVolume(state.volume)">
            </div>
        </div>
    </div>
</main>